.navCont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    transition: background-color 700ms, color 200ms linear;
}

.navCont--white {
    background-color: rgba(255,255,255,.3);
}

.navCont--dark {
    background-color: rgba(0,0,0, .3);
    color: #fff;
    .nav {
        background-color: rgba(0,0,0, .7);
    }
    .hamburger-inner {
        &,
        &::before,
        &::after {
            background-color: #fff;
        }
    }

    .hamburger {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: #fff !important;
        }
     }
}

.navCont__cont {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

.navCont__logoCont {
    z-index: 100;
}

.navCont__logoImg {
    width: 70px;
    height: 70px;
}

@media (min-width: $desktop) {
    .navCont {
        height: 80px;
    }

    .navCont__cont {
        height: 100%;
        padding: 0px 70px;
        align-items: center;
    }

    .navCont__toggler {
        display: none;
    }

    .navCont--dark {
        background-color: rgba(0,0,0, .3);
        color: #fff;
        .nav {
            background-color: transparent;
        }
    }
}
