.sectionCont {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sectionCont--top {
    justify-content: flex-start;
}

.sectionCont--woman {
    background-color: lighten(#fabab8, 5%);
}

.sectionCont--man {
    background-color: darken(#7eb1c6, 10%);
}

.sectionCont--staff {
    background-image: linear-gradient(lighten(#087CA7, 80%), #087CA7);
}

.sectionCont--contact {
    background-image: linear-gradient(#fff 70%, #fff);
}

@media (min-width: $desktop) {
    .sectionCont {
        padding-top: 100px;
    }
}
