.welcomeCont {
    // background-image: url('../img/gradient.jpg');
    background-image: linear-gradient(#cac9db 10%,#bbbecf 20%, #8e8097);
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
}

.welcomeCont__header {
    display: none;
}

.welcomeCont__subHeader {
    display: none;
    margin: 0;
    font-weight: 300;
    font-size: 2.6vw;
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top: 20vh;
}

.welcomeCont__pic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    z-index: 100;
}

@media (min-width: $desktop) {
    .welcomeCont {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .welcomeCont__header {
        display: block;
        text-transform: uppercase;
        margin: 0;
        font-weight: 100;
        font-size: 15vw;
        text-align: center;
        margin-right: 20vw;
        opacity: 0;
        transform: translateX(calc(-50%));
        animation: slideIn 2s .5s forwards ease-out;
        will-change: transform;
    }

    .welcomeCont__subHeader {
        display: block;
        position: static;
        margin-right: 20vw;
        opacity: 0;
        transform: translateX(calc(-50%));
        animation: slideIn 2s .5s forwards ease-out;
        will-change: transform;
    }

    .welcomeCont__pic {
        position: absolute;
        bottom: 0;
        right: 10vw;
        width: auto;
        height: 91vh;
        z-index: 100;
        opacity: 0;
        transform: translateX(calc(100%));
        animation: slideIn 2s .5s forwards ease-out;
        will-change: transform;
    }
}
