body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.cover--hidden {
  display: none;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50px;
  transform: skewY(150%);
  transition: all 0.5s linear;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
.mouse::after {
  content: " ";
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  transform: rotate(45deg);
  animation: arrow 1.5s infinite;
}

.mouse__scroll {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  width: 2px;
  height: 8px;
  background-color: #000;
  margin: auto;
  animation: scroll 1.5s infinite;
}

.mouse--hidden {
  opacity: 0;
}

@keyframes scroll {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    transform: rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px) rotate(45deg);
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .mouse {
    animation: mouse__fadeIn 2s 0.5s linear forwards;
    opacity: 0;
  }

  @keyframes mouse__fadeIn {
    to {
      opacity: 0.4;
    }
  }
}
.navCont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  transition: background-color 700ms, color 200ms linear;
}

.navCont--white {
  background-color: rgba(255, 255, 255, 0.3);
}

.navCont--dark {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.navCont--dark .nav {
  background-color: rgba(0, 0, 0, 0.7);
}
.navCont--dark .hamburger-inner, .navCont--dark .hamburger-inner::before, .navCont--dark .hamburger-inner::after {
  background-color: #fff;
}
.navCont--dark .hamburger .hamburger-inner,
.navCont--dark .hamburger .hamburger-inner::before,
.navCont--dark .hamburger .hamburger-inner::after {
  background-color: #fff !important;
}

.navCont__cont {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
  width: 100%;
}

.navCont__logoCont {
  z-index: 100;
}

.navCont__logoImg {
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  .navCont {
    height: 80px;
  }

  .navCont__cont {
    height: 100%;
    padding: 0px 70px;
    align-items: center;
    opacity: 0;
    transform: translateY(-50%);
    animation: navCont__fadeIn 1s 0.5s linear forwards;
  }

  @keyframes navCont__fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .navCont__toggler {
    display: none;
  }

  .navCont--dark {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .navCont--dark .nav {
    background-color: transparent;
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40vh;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  padding: 30px;
  padding-top: 80px;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav--hidden {
  opacity: 0;
  transform: translateY(-60vh);
}

.nav__list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
}

.nav__item {
  margin: 10px 0;
  position: relative;
}

@media (min-width: 768px) {
  .nav {
    position: static;
    transform: none;
    opacity: 1;
    background-color: transparent;
    padding: 0;
    width: auto;
    height: auto;
    min-height: 0;
    transition: all 0s;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    font-size: 28px;
    font-weight: 200;
  }

  .nav__link {
    display: inline-block;
    overflow: hidden;
    height: 1em;
  }
  .nav__link span {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
  }
  .nav__link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    color: inherit;
    transform: translate3d(0, 0, 0);
  }
  .nav__link:hover span, .nav__link:focus span {
    transform: translateY(-100%);
  }

  li.active {
    font-weight: 400;
    pointer-events: none;
    cursor: default;
    transition: none;
  }

  .active--dark {
    position: relative;
  }
  .active--dark::after {
    content: " ";
    width: 100%;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.15s ease-in;
    transform: scaleX(0);
  }
  .active--dark:hover::after {
    content: " ";
    transform: scaleX(1);
  }
}
.welcomeCont {
  background-image: linear-gradient(#cac9db 10%, #bbbecf 20%, #8e8097);
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  position: relative;
}

.welcomeCont__header {
  display: none;
}

.welcomeCont__subHeader {
  display: none;
  margin: 0;
  font-weight: 300;
  font-size: 2.6vw;
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  top: 20vh;
}

.welcomeCont__pic {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
}

@media (min-width: 768px) {
  .welcomeCont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .welcomeCont__header {
    display: block;
    text-transform: uppercase;
    margin: 0;
    font-weight: 100;
    font-size: 15vw;
    text-align: center;
    margin-right: 20vw;
    opacity: 0;
    transform: translateX(calc(-50%));
    animation: slideIn 2s 0.5s forwards ease-out;
    will-change: transform;
  }

  .welcomeCont__subHeader {
    display: block;
    position: static;
    margin-right: 20vw;
    opacity: 0;
    transform: translateX(calc(-50%));
    animation: slideIn 2s 0.5s forwards ease-out;
    will-change: transform;
  }

  .welcomeCont__pic {
    position: absolute;
    bottom: 0;
    right: 10vw;
    width: auto;
    height: 91vh;
    z-index: 100;
    opacity: 0;
    transform: translateX(calc(100%));
    animation: slideIn 2s 0.5s forwards ease-out;
    will-change: transform;
  }
}
.header {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin: 0;
  z-index: 1000;
}

.header--center {
  text-align: center;
  z-index: 0;
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .header {
    font-size: 30px;
  }
}
.prices {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.prices__gender {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.prices__gender--woman {
  background-image: url("../img/womanPrices.jpg");
}

.prices__gender--man {
  background-image: url("../img/manPrices.jpg");
}

.prices__genderLink {
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  writing-mode: tb-rl;
  position: absolute;
  height: 100%;
  text-align: center;
  top: 50%;
  transform: rotate(180deg) translateY(50%);
  text-shadow: 3px 0px 5px rgba(0, 0, 0, 0.3);
}

.prices__genderLink--woman {
  right: 10px;
}

.prices__genderLink--man {
  left: 10px;
}

@media (min-width: 768px) {
  .prices {
    flex-direction: row;
  }

  .prices__gender {
    width: 50%;
    height: 100%;
  }

  .prices__genderLink {
    position: static;
    writing-mode: horizontal-tb;
    transform: none;
    top: auto;
    left: auto;
    bottom: auto;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: 100;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    padding-top: 20vh;
  }
}
.arrow {
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
}

.arrow--left {
  transform: rotate(45deg) translateY(-50%);
  left: 20px;
  animation: pulseLeft 1s infinite alternate;
}

.arrow--right {
  right: 40px;
  transform: rotate(-135deg) translateY(50%);
  animation: pulseRight 1s infinite alternate;
}

.arrow--dark {
  border-color: #000;
  opacity: 0.4;
}

.arrow--small {
  border-width: 1px;
  width: 16px;
  height: 16px;
}

@keyframes pulseLeft {
  to {
    left: 5px;
  }
}
@keyframes pulseRight {
  to {
    right: 25px;
  }
}
.priceList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 300;
  position: relative;
}

.priceList--woman {
  background-color: #fcd1d0;
}

.priceList--man {
  color: #fff;
}

.priceList__table {
  width: 100%;
  max-width: 600px;
}

.priceList__row {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
}
.priceList__row:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.2);
}

.priceList__serviceName {
  width: 75%;
  padding-right: 30px;
}

.priceList__price {
  width: 25%;
  text-align: right;
}

.priceList__goBack {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 10px 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}

.priceList__goBack--right {
  justify-content: flex-end;
}

.priceList__goBack--white {
  color: #fff;
}

.staff {
  display: grid;
  grid-template: 1fr/1fr;
  max-width: 1440px;
}

.staff__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  text-align: justify;
  font-weight: 300;
  font-size: 14px;
}

.staff__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #000;
}

.staff__name {
  font-weight: 300;
}

@media (min-width: 768px) {
  .staff {
    grid-template: 1fr/1fr 1fr 1fr;
  }

  .staff__container {
    max-width: 500px;
  }
}
.sectionCont {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sectionCont--top {
  justify-content: flex-start;
}

.sectionCont--woman {
  background-color: #fcd1d0;
}

.sectionCont--man {
  background-color: #5b9cb6;
  color: #fff;
}

.sectionCont--staff {
  background-color: #FFD275;
  padding-bottom: 30px;
}

.sectionCont--contact {
  min-height: 100vh;
  background-color: #faf9f3;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .sectionCont {
    padding-top: 100px;
  }
}
section.map {
  width: 100%;
  height: 40vh;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

@media (min-width: 768px) {
  section.map {
    height: 100%;
  }
}
.contactData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  height: 100%;
}

.contactData__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
}

.contactData__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.contactData__info--small {
  font-size: 0.75rem;
  margin-top: 10px;
}

.contactData__address {
  font-size: 1rem;
  margin-top: 10px;
}

.contactData__callLink {
  color: inherit;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .contactData__container {
    flex-direction: row;
  }

  .contactData__icon {
    width: 30px;
    height: 30px;
    margin-right: 40px;
  }

  .contactData__info--small {
    font-size: 14px;
    margin-top: 14px;
  }

  .contactData__address {
    font-size: 22px;
    margin-top: 10px;
  }

  .contactData__callLink {
    color: inherit;
    font-size: 22px;
  }

  .contactData__callLink {
    pointer-events: none;
    cursor: default;
  }
}
@media (min-width: 1600px) {
  .contactData__icon {
    width: 40px;
    height: 40px;
  }

  .contactData__info--small {
    font-size: 16px;
  }

  .contactData__address {
    font-size: 20px;
  }

  .contactData__callLink {
    font-size: 28px;
  }
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.footer {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__section {
  margin: 10px;
}

.footer__section--social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 1rem 0;
  font-size: 12px;
}

.footer__menu {
  padding: 0;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.footer__menuItem {
  margin: 0.5rem 0;
}

.footer__menuLink {
  position: relative;
}
.footer__menuLink::after {
  content: " ";
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: 0.15s ease-in;
  transform: scaleX(0);
}
.footer__menuLink:hover::after {
  content: " ";
  transform: scaleX(1);
}

.footer__icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.footer__socialLink:hover {
  color: inherit;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 960px;
  }

  .footer__section {
    max-width: 280px;
    margin: 2rem;
  }

  .footer__socialLink--phone {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
